
@font-face { font-family: Montreal-HeavyIta; src: url('MontrealHeavyIta.ttf'); } 
/* body{
    margin: 0%;
}
header{
    display: flex;
    -webkit-box-shadow: 0px 25px 20px -23px rgba(237,217,156,1);
    -moz-box-shadow: 0px 25px 20px -23px rgba(237,217,156,1);
    box-shadow: 0px 25px 20px -23px rgba(237,217,156,1);
    width: 100%;
    position: fixed;
    margin-bottom:23px;
    background-color: #ffffff;
    margin-top: 0;
}



header img{
    width: 5%;
}
header ul{
    list-style:none;
    display: flex;
    width: 83%;
    justify-content: flex-end
}
header ul > li{
    margin-left: 5%;
}
header a {
    text-decoration: none;
    color: #EBA232;
}
h1{
    text-align: center;
    color: #EBA232;
    text-shadow: 1px 1px 2px red, 0 0 1em rgb(72, 72, 78), 0 0 0.2em #555;
    padding-top:8%;
    margin-block-start: 0;
    margin-block-end:0;
}
h4{
    color: #CA4318;
    font-size:150%;
    margin-left: 2%;
}
.presentation{
    margin: 2% 11% 2% 2%;
    font-size: 120%;
}
.imgpres{
    width: 100%;
    height: 350px;

} */




/*
nav{
  position: fixed;
  margin-bottom: 3%;
}

ul{
    list-style: disc !important;
    display: inline;
}

li{
  display: inline;
  margin-left: 5%;
  
}
nav a {
  color: black;
}
nav ul a {
  
  color: red;
  font-size: 18 px ;
  font-family: "Montreal-HeavyIta",sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;

} */


/**********************/
header {
  height: 100vh;
  width: 100%;
  background-image: url(images/fondHead3.jpg);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

#header_partie_jaune {
  width: 100%;
  height: 100vh;
  background-image: url(images/header_titre2.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: cover;
}

#header_titre {
  display: flex;
  align-items: center;
  padding-left: 50px;
  height: 100%;
  width: 40%;
}

nav {
  position: fixed;
  z-index: 99;
  font-family: "Montreal-HeavyIta",sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

nav a:hover {
  color: #ffc107;
}

nav li {
  width: 35%;
  text-align: center;
}

nav ul {
  width: 50%;
}

#logo_container {
  width: 250px;
  height: 108px;
  background-image: url(images/logo_container.png);
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo {
  margin-bottom: 30px;
  width: 37%;
  padding-top: 6%;
}

#titre_container h1{
  text-align: center;
}

#bouton_hamburger {
  color: black;
  text-align: center;
  width: 47%;
  margin-top: 0%;
  padding-top: 0%;
}

.showed {
  width: 100%;
  height: 100%;
  background-color: black;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height 0.3s ease-out;
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease-out;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

#menu_hamburger li {
  height: 50px;
  line-height: 40px;
  text-align: center;
  border-bottom: 2px solid #ffc107;
  width: 200px;
}

#menu_hamburger a {
  color: white;
}

#menu_hamburger a:hover {
  color: #ffc107;
}

@media all and (max-width: 1000px) {
  #header_partie_jaune {
    background-image: url(images/header_titre_small.png);
    background-size: cover;
  }

  h1 {
    color: rgba(0,0,0,1);
    margin: auto;
  }

  #header_titre {
    width: 100%;
    padding: 0;
    justify-content: center;
  }
}



.material-icons {
  border-radius: 50%;
  margin-top: auto;
  margin-bottom: auto;
}

h2{
  text-align: center;
}
